.service{
    .serviceHeader{
        background-color:#232536;
        padding: 50px 100px;
        .kirish{
            display: flex;
            .kirishText{
                width: 50%;
                padding-top: 100px;
                color: white;
                h1{
                    font-size: 56px;
                }
                p{
                    font-size: 16px;
                    opacity: 0.6;
                    margin: 20px 0;
                    width: 75%;
                    line-height: 25px;
                }
                .kirishTugma{
                    padding: 15px 30px;
                    display: inline-block;
                    border-radius: 5px;
                    background-color: #444CFC;
                    transition: 0.3s ;
                    cursor: pointer;
                    &:hover{
                        background-color: #2530ff;
                        padding: 15px 40px;
                    }
                    img{
                        margin-left: 10px;
                    }
                }
            }
            .kirishRasm{
                width: 50%;
                transform: 0.5s;
                width: 45%;
                height: 625px;
                margin: 0 30px;
                overflow: hidden;
                img{
                    transition: 0.3s all ease-in-out;
                    cursor: pointer;
                    width: 100%;
                    &:hover{
                        transform: scale(1.01);
                        opacity: 0.6;
                        
                    }
                }
            }
        }
        .kirishFooter{
            margin: 20px 0 0px;
            .kirishRasmlar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    font-size: 1.2vw;
                    color: white;
                    line-height: 23px;
                    span{
                        font-size: 1vw;
                        opacity: 0.6;
                    }
                }
                img{
                    width: 15%;
                    // margin:0 12px;
                }
            }
        }
    }
    .about{
        padding: 50px 100px;
        .malumotlar{
            display: flex;
            align-items: center;
            color: #232536;
            .ong{
                margin: 10px 0 25px 0;
                h1{
                    font-size: 48px;
                }
            }
            .chap{
                h1{
                    font-size: 36px;
                    margin-bottom: 50px;
                }
                p{
                    text-align: start;
                    color: #5D5F6D;
                }
            }
        }
        .slider{
            display: flex;
            img{
                width: 98%;
            }
        }
        .aboutFooter{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0;
            .statis{
                display: flex;
                .boxer{
                    margin: 10px 80px 0 0 ;
                    h2{
                        font-weight: bold;
                    }
                }
            } 
            .readMore{
                width: 100%;
            }  
        }
    }
    .expertise{
        padding: 100px;
        display: flex;
        background-color:  #ECF8F9;
        .expertiseText{
            flex-direction: column;
            width: 60%;
            p{
                font-size: 14px;
                color:#5D5F6D;
                width: 75%;
                &:first-child{
                    text-transform: uppercase;
                    color: black;
                }
            }
            h2{
                font-size: 48px;
                margin: 10px 0;
                width: 85%;
                font-weight: bold;
            }
        }
        .expertiseBox{
            width: 40%;
            .expertiseBoxer{
                margin: 10px 0;
                padding: 25px 15px;
                background-color: white;
                display: flex;
                .expertisRasm{
                    img{
                        width: 55px;
                        height: 40px;   
                        margin: 0 20px;
                        height: 8vh;
                    }
                }
                .boxerText{
                    p{
                        width: 85%;
                        margin: 5px 0;
                    }
                }
            }
        }
    }
    .ourServices{
        padding: 50px 100px;
        background-color: #FFE6D2;
        &>p{
            text-transform: uppercase;
            font-size: 14px;
        }
        &>h1{
            font-size: 48px;
            width: 50%;
            margin: 15px 0 25px 0;
        }
        .kirishTugma{
            padding: 13px 30px;
            display: inline-block;
            border-radius: 2px;
            background-color: #444CFC;
            transition: 0.3s ;
            color: white;
            cursor: pointer;
            &:hover{
                background-color: #2530ff;
                padding: 13px 40px;
            }
            img{
                margin-left: 10px;
            }
        }
        .servicesBoxer{
            display: flex;            
            align-items: center;
            margin: 80px 0;
            .boxerServic{
                width: 405px;
                height: 335px;
                padding: 50px;
                margin: 0 15px;
                background-color: white;
                &>h4{
                    margin: 25px 0;
                }
                &>p{
                    margin: 25px 0;
                    color: #5D5F6D;
                }
                &:nth-child(1){
                    margin-left: 0;
                    &>img{
                        background-color: #FFF2E8;
                        padding: 10px 12px;
                        border-radius: 20px;
                    }
                }
                &:nth-child(3){
                    margin-right: 0;
                    &>img{
                        background-color: #FFF2E8;
                        padding: 12px;
                        border-radius: 20px;
                    }
                }
                span{
                    display: inline-block;
                    color:  #444CFC;
                }
            }
        }
    }
    .proces{
        padding: 50px 100px 20px;
        .procesNav{
            display: flex;
            justify-content: space-between;
            p{
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        .procesText{
            &>h1{
                font-size: 48px;
                color: #232536;
                margin: 5px 0 20px;
            }
            p{
                color: #232536;
            }
        }
        .procesBox{
            margin: 30px 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .procesBoxer{
                position: relative;
                margin: 20px 0px;
                border: 1px solid #32344660;
                width: 31%;
                padding: 40px 30px;
                display: flex;
                span{
                    display: inline-block;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    opacity: 0.6;
                    font-size: 24px;
                    font-weight: bold;
                }
                .procesAbout{
                    margin: 0 15px;
                    h1{
                        font-size: 16px;
                        margin: 5px 0;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .costumers{
        padding: 50px 100px;
        display: flex;
        background-color: #F9F9FF;
        width: 100%;
        .left{
            width: 50%;
            color: #232536;
            h1{
                font-size: 48px;
                margin: 0 0 20px 0;
            }
            h4{
                font-size: 18px;
                margin: 10px 0;
            }
            p{
                line-height: 20px;       
                span{
                    font-weight: bold;
                }
            }
            .costumersRasm{
                margin: 10px 0;
                img{
                    margin: 0 5px;
                }
            }
        }
        .right{
            width: 50%;
        }
    }
    .readNews{
        padding: 50px 100px;
        background-color: #ECF8F9;
        &>h1{
            font-size: 48px;
        }
        .readMore{
            margin: 25px 0;
            display: flex;
            .readBoxer{
                background-color: white;
                display: flex;
                margin-right: 20px;
                color:  #232536;
                &:nth-child(2){
                    margin-right: 0;
                }
                .boxerText{
                    margin: 35px 20px; 
                    p{
                        opacity: 0.6;
                    }
                    h1{
                        font-size: 24px;
                        margin: 20px 0;
                    }
                    span{
                        color: #444CFC;
                    }
                }
            }
        }
    }
}