@media (max-width: 1075px) {
  .career .careerHeader {
    padding: 50px;
  }
  .career .careerHeader .careersRasm h2 {
    width: 70%;
    margin: 10px auto;
  }
  .career .careerHeader .careersRasm h1 {
    font-size: 200px;
  }
  .career .technologyAbout {
    padding: 50px;
  }
  .career .culture {
    padding: 50px;
  }
}

@media (max-width: 960px) {
  .career .careerHeader .careerLogo > p {
    font-size: 20px;
  }
  .career .careerHeader .careersRasm span {
    font-size: 20px;
  }
  .career .careerHeader .careersRasm h2 {
    font-size: 40px;
    width: 100%;
  }
  .career .careerHeader .careersRasm p {
    width: 90%;
  }
  .career .careerHeader .careersRasm h1 {
    font-size: 170px;
  }
  .career .culture .culture_container h1 {
    width: 100%;
    margin: 10px 0;
  }
  .career .culture .culture_container span {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .career .careerHeader .careerLogo p {
    font-size: 16px;
  }
  .career .careerHeader .careersRasm h2 {
    font-size: 35px;
  }
  .career .careerHeader .careersRasm h1 {
    font-size: 150px;
  }
  .career .technologyAbout .tehcnology_box {
    padding: 25px;
  }
}

@media (max-width: 660px) {
  .career .careerHeader {
    padding: 30px 50px 10px;
  }
  .career .careerHeader .careersRasm h1 {
    font-size: 130px;
  }
  .career .careerHeader .careersRasm h2 {
    font-size: 30px;
  }
  .career .culture .culture_container h1 {
    font-size: 30px;
  }
}

@media (max-width: 530px) {
  .career .careerHeader .careersRasm h1 {
    font-size: 90px;
  }
  .career .careerHeader .careersRasm h2 {
    font-size: 25px;
  }
  .career .technologyAbout .tehcnology_box {
    padding: 20px;
  }
  .career .technologyAbout .tehcnology_box .tehcnology_boxer {
    padding: 20px;
    width: 49%;
    margin: 5px 0;
  }
  .career .culture {
    padding: 20px 50px;
  }
  .career .culture .culture_container h1 {
    font-size: 25px;
  }
  .career .culture .culture_container .culture_box .culture_boxer {
    width: 49%;
    margin: 5px 0;
  }
}

@media (max-width: 425px) {
  .career .careerHeader {
    padding: 20px 20px 0;
  }
  .career .careerHeader .careerLogo > div {
    display: none;
  }
  .career .careerHeader .careersRasm h2 {
    text-align: start;
  }
  .career .careerHeader .careersRasm h1 {
    font-size: 80px;
  }
  .career .careerHeader .careersRasm p {
    margin: 0;
    text-align: start;
  }
  .career .technologyAbout {
    padding: 20px;
  }
  .career .technologyAbout .tehcnology_box {
    padding: 15px;
  }
  .career .technologyAbout .tehcnology_box .tehcnology_boxer {
    width: 100%;
  }
  .career .culture {
    padding: 20px;
  }
}

@media (max-width: 350px) {
  .career p {
    font-size: 14px !important;
  }
  .career .careerHeader .careersRasm h2 {
    font-size: 20px;
  }
  .career .careerHeader .careersRasm h1 {
    font-size: 20vw;
  }
  .career .technologyAbout .tehcnology_box {
    padding: 10px;
  }
  .career .technologyAbout .tehcnology_box .tehcnology_boxer {
    margin-bottom: 10px;
  }
  .career .culture .culture_container h1 {
    font-size: 20px;
  }
  .career .culture .culture_container span {
    font-size: 14px;
  }
  .career .culture .culture_container .culture_box .culture_boxer {
    width: 100%;
  }
}
/*# sourceMappingURL=career_respons.css.map */